

body {
	font-family:Helvetica;
	text-align:center;
}

#project-header {
	font-family:georgia, "times new roman", times, serif;
	position:relative;
	font-weight: 400;
	font-variant: small-caps;
	left:0;
	top:0;
	padding:10px;

}

#project-header a {
	text-decoration:none;
	color:black;
}

#go-back {
	font-size:.5em;
	color:gray;
	display:none;
}


h1 {
    text-align:center;
    font-family:sans-serif;
    font-size: 3.0em;
}

h2 {
	margin:10px;
    color: #333;
    text-align: left;
    top: 100px;
}

#description {
	font-size:1em;
	font-family: Helvetica;
	margin-bottom:.3em;
	margin-left:auto;
	margin-right:auto;
	width:70%;
}


#description h2 {
/*	font-variant: small-caps;*/
	font-size:2em;
}

#description p {
	text-align:left;
	margin-left:20px;
	color: #3E4350;
	font-family:sans-serif;
}


#description a:hover {
	border:2px solid gray;/*black;*/
	border-top:1px solid lightgray;
	border-left:1px solid lightgray;
	border-bottom:1px solid lightgray;
	background-color: white; /*#4F4F4F;*/
}


a#lowess {
	text-decoration:none;
	color:red;
	font-weight:bold;
	display:inline;
}

a#lowess:hover {
	text-decoration:underline;
}

type1{
    color:#C53838;
    }

type2{
    color: #294889;
    }

#worldmap {
    margin:0 10%;
    padding: 20px;
    border:2px solid #d0d0d0;
    border-radius: 5px;
    height:100%;
    position:relative;
    clear:both;
}


#svgslopegraph {
    margin: 0 10% ;
    padding: 20px;
    border:2px solid #d0d0d0;
    border-radius: 5px;
    height:600px;
    width:70%;
    top:1000px;
    position:absolute;
}


#footer {
	text-align:right;
	height: 70px;
	margin:0;
	right:0;
	bottom:0;
	position:fixed;
	width:500px;
	padding:15px;
}

.rotten {
	color:red;
}

.chart rect {
}

.bubble {
    fill-opacity: .8;
    stroke:#fff;
    stroke-width:.5px;    
}    


div.tooltip{
    position:absolute;
    text-align:center;
    width:150px;
    height:50px;
    padding:4px;
    font:20px sans-serif;
    background: #ddd;
    border: 0px;
    border-radius: 8px;
    pointer-events:none;
}    

